# pandas DataFrame 정렬 sort_values()

### Series와 마찬가지로 DaraFrame도 sort_values()로 정렬 가능

<li>by: 정렬 기준 컬럼</li>
<li>ascending: 오름차순으로 정렬</li>
<li>key: 정렬 기준 함수(주로 lambda 함수 사용)</li>
<li>na_position: 결측이 있는 경우 어디에 배치할 것인지 결정 {first, last}</li>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({"A":[1,2,3,1,2,3],'B':[3,2,1,3,2,1],'C':[1,2,3,4,3,2]})
df

   A  B  C
0  1  3  1
1  2  2  2
2  3  1  3
3  1  3  4
4  2  2  3
5  3  1  2

In [4]:
# A를 기준으로 오름차순 정렬
df.sort_values(by = 'A', ascending= True)

   A  B  C
0  1  3  1
3  1  3  4
1  2  2  2
4  2  2  3
2  3  1  3
5  3  1  2

In [5]:
# C와 B를 기준으로 내림차순 정렬
df.sort_values(by = ['C','B'], ascending= False)

   A  B  C
3  1  3  4
4  2  2  3
2  3  1  3
1  2  2  2
5  3  1  2
0  1  3  1