# DaraFrame의 중복 제거_drop_duplicates

## drop_duplicates 함수로 중복이 있는 행 제거
## 저장이 되지 않으므로 결과를 저장하고 싶으면 변수에 넣어줘야 함

<li>subset: 중복 기준을 판단하는 컬럼(목록)</li>
<li>keep: 중복이 있는 행의 어느 부분을 남길 것인지 결정 {'first','last','false'}</li>
<li>'first': 첫 번째 행을 남김</li>
<li>'last': 마지막 행을 남김</li>
<li>'false': 중복 행 모두 제거</li>

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"A":[1,2,3,1,2,3],'B':[3,2,1,3,2,1],'C':[1,2,3,4,3,2]})
df

   A  B  C
0  1  3  1
1  2  2  2
2  3  1  3
3  1  3  4
4  2  2  3
5  3  1  2

In [3]:
# A를 기준으로 중복 제거(첫 행 남김) keep의 기본 값은 'first'
df.drop_duplicates(subset=['A'])

   A  B  C
0  1  3  1
1  2  2  2
2  3  1  3

In [5]:
# 저장 하지 않았기 때문에 삭제했던 행이 다시 보임
df

   A  B  C
0  1  3  1
1  2  2  2
2  3  1  3
3  1  3  4
4  2  2  3
5  3  1  2

In [6]:
# A를 기준으로 중복 제거(마지막 행 남김) keep='last'
df.drop_duplicates(subset=['A'], keep='last')

   A  B  C
3  1  3  4
4  2  2  3
5  3  1  2